html{
  background-color: #417B5A;
  font-size: 15px;
  width: 100%;
  height: 100%;
}

body{
  text-align: center;
  margin: 0;
  padding: 0;
  width: auto;
}

div{
  background-color: #E9D2C0;
}

.timer{
  border-style: double;
  text-align: center;
  height: auto;
  font-size: 2rem;

}
